@model Metin2RFT.Models.AccountModel

@{
    ViewBag.Title = "Fiókadatok";
}

<h2>Fiókadatok</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>Felhasználónév</th>
            <th>Email címe</th>
            <th>Egyenleg</th>
            <th>Bannolt?</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => Model.Username)</td>
            <td>@Html.DisplayFor(model => Model.Email)</td>
            <td>@Html.DisplayFor(model => Model.Balance)</td>
            <td>@Html.DisplayFor(model => Model.IsBanned)</td>
        </tr>


    </table>

    if (Model.IsBanned)
    {
        @Html.ActionLink("Unban", "Unban", new { accId = Model.Id });
    }
    else
    {
        @Html.ActionLink("Ban", "Ban", new { accId = Model.Id });
    }

    <br />
    <br />
    @Html.ActionLink("Vissza", "Account");

    <h3>Karakterek</h3>
    <table>
        <tr>
            <th>Karakternév</th>
            <th>Szint</th>
            <th></th>
        </tr>
        @foreach(var playa in Model.Players)
        {
            <tr>
                <td>@Html.DisplayFor(Model => playa.Name)</td>
                <td>@Html.DisplayFor(Model => playa.Level)</td>
                <td>@Html.ActionLink("RenamePlayer", "RenamePlayer", new { id = playa.Id})</td>
            </tr>
        }
    </table>
}