<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Metin2RFT</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <div class="logreg">
            @if (Request.IsAuthenticated)
            {
                <text>
                    Hello, @Html.ActionLink(User.Identity.Name, "ChangePassword", "Account", routeValues: null, htmlAttributes: new { @class = "Account", title = "ChangePassword" })!
                </text>
                <form method="post" action="@Url.Action("LogOff", "Account")" id="signoutfrm" style="display:none;">
                    @Html.AntiForgeryToken()
                </form>

                <a href="" onclick="$('#signoutfrm').submit(); return false;">LOGOUT</a>
            }
            else
            {
                <text><a href="/Account/Login">Jelentkezz be</a> vagy <a href="/Account/Register">Regisztrálj!</a></text>
            }
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/Home/Index" class="home">Home</a></li>
                <li><a href="/Rankings" class="ranking">Ranglista</a></li>
                <li><a href="/Account/Register" class="register">Regisztráció</a></li>
                <li><a href="/Home/Download" class="download">Letöltések</a></li>
                <li><a href="/Account/Login" class="login">Bejelentkezés</a></li>
            </ul>
        </div>
    </header>

    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <hr />
        <p>&copy; @DateTime.Now.Year - Metin2RFT</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
