@model Metin2RFT.Models.TestUser
@{
    ViewBag.Title = "Login";
}

<div class="login">
    @using (Html.BeginForm("Login", "Home"))
    {
        <table>
            <caption>Bejelentkezés</caption>
            <tr>
                <td>@Html.LabelFor(m => m.Username, "Felhasználónév:")</td>
                <td>@Html.TextBoxFor(m => m.Username)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Password, "Jelszó:")</td>
                <td>@Html.TextBoxFor(m => m.Password)</td>
            </tr>
            <tr>
                <td id="submit" colspan="2" align="center" height="50">
                    <input type="submit" value="Bejelentkezés" />
                </td>
            </tr>
        </table>
    }
</div>
<div class="msg">@TempData["msg"]</div>