@model Metin2RFT.Models.AccountManageModel

@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>
<hr />
<div>
    <h3>Fiókadatok</h3>
    <table>
        <tr>
            <td>Felhasználónév:</td>
            <td colspan="2">@Model.Account.Username</td>
        </tr>
        <tr>
            <td>E-mail cím:</td>
            <td colspan="2">@Model.Account.Email</td>
        </tr>
        <tr>
            <td>Jelszó:</td>
            <td>*********</td>
            <td>@Html.ActionLink("Jelszó megváltoztatása", "ChangePassword")</td>
        </tr>
        <tr>
            <td>Egyenleg:</td>
            <td>@Model.Account.Balance</td>
            <td>@Html.ActionLink("Egyenlegfeltöltés", "UploadBalance")</td>
        </tr>
    </table>
    <h3>Karakterek</h3>
    <table>
        <tr>
            <th>Név</th>
            <th>Szint</th>
            <th>Tapasztalat</th>
            <th>Arany</th>
            <th>Birodalom</th>
        </tr>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Level</td>
                <td>@player.Experience</td>
                <td>@player.Gold</td>
                <td><img src="/Content/img/@(player.Empire).png" /></td>
            </tr>
        }
    </table>
    <h3>Felszerelés</h3>
    <table>
        <tr>
            <th>Név</th>
            <th>Kategória</th>
            <th>Leírás</th>
        </tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</div>
