@model IEnumerable<Metin2RFT.Models.Entities.Player>

@{
    ViewBag.Title = "Ranglista";
}

<h2>Rankings</h2>
@using (Html.BeginForm())
{
    var selectemp = new SelectList(
        new List<SelectListItem>
    {
    new SelectListItem {Text = "Mind", Value = "Mind"},
    new SelectListItem {Text = "Piros", Value = "1"},
    new SelectListItem {Text = "Sárga", Value = "2" },
    new SelectListItem {Text = "Kék", Value = "3"}
    }, "Value", "Text");
    var emp = new string[] { "Mind", "1", "2", "3" };
    var rank = new string[] { "Szint", "Arany" };
    @Html.DropDownList("empire", selectemp, new { onchange = "this.form.submit();" });
    @Html.DropDownList("rankby", new SelectList(rank), new { onchange = "this.form.submit();" });
    int RowNo = 0;

    <table>
        <tr>
            <th>Helyezés</th>
            <th>Karakter</th>
            <th>Szint</th>
            <th>Arany</th>
            <th>Birodalom</th>
        </tr>
        @foreach (var player in Model)
        {
            string imageName = string.Format("{0}.png", player.Empire);
            <tr>
                <td>@{RowNo++;} @RowNo</td>
                <td>@Html.DisplayFor(Model => player.Name)</td>
                <td>@Html.DisplayFor(Model => player.Level)</td>
                <td>@Html.DisplayFor(Model => player.Gold)</td>
                <td><img src="/Content/img/@imageName" /></td>
            </tr>
        }
    </table>
}
